--- .gitignore
+++ .gitignore
@@ -0,0 +1,16 @@
+*~
+Debug
+Release
+obj
+bin
+*.ncb
+*.dat
+*[Rr]eSharper*
+*.pdb
+*DXCore.Solution
+*.vcproj*.user
+*.suo
+*.DS_Store
+.nuget
+packages
+*.user
/development/solution/.nuget/NuGet.exe
bin
obj
/development/solution/packages
/development/solution/everything.sln.DotSettings.user
/development/solution/_ReSharper.everything
/development/solution/everything.suo
